.stack-work/
*~
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/setup-config
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/build/Lib.hi
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/build/Lib.o
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/build/libHSTest4InLine-0.1.0.0-inplace.a
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/build/Paths_Test4InLine.hi
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/build/Paths_Test4InLine.o
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/build/autogen/cabal_macros.h
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/build/autogen/Paths_Test4InLine.hs
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/cache/build
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/cache/config
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/cache/registration
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/setup-config
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe.exe
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Four.hi
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Four.o
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Functions.hi
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Functions.o
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Main.hi
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Main.o
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Paths_Test4InLine.hi
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/Test4InLine-exe-tmp/Paths_Test4InLine.o
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/autogen/cabal_macros.h
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/build/Test4InLine-exe/autogen/Paths_Test4InLine.hs
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/cache/build
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/cache/config
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/cache/registration
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-windows/ghc-8.10.7/Test4InLine-0.1.0.0/x/Test4InLine-exe/package.conf.inplace/package.cache.lock
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-8.10.7/package.cache
dist-newstyle/packagedb/ghc-8.10.7/package.cache.lock
dist-newstyle/packagedb/ghc-8.10.7/Test4InLine-0.1.0.0-inplace.conf
